.forgot-password {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url('../../../Static/images/authorization/authorization-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.forgot-password-container {
  height: fit-content;
  width: 75%;
}

.forgot-password-title-container {
  display: grid;
  row-gap: 8px;
  text-align: center;
  margin-top: 3rem !important;
  margin-bottom: 1.5rem !important;
}

.forgot-password-title {
  font-weight: 700;
}

.forgot-password-text {
  opacity: 0.7;
  line-height: 1.8;
}
